* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
   background-image: url(calculator.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
}

.container:hover {
    transform: scale(1.05); /* Animation on hover */
}

h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

h4 {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #333;
}

input, select, button {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    max-width: 300px;
    transition: all 0.3s ease;
}

input:focus, select:focus {
    border-color: #4CAF50;
    outline: none;
}

button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    width: 100%;
    max-width: 300px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

#result {
    font-size: 1.5rem;
    margin-top: 20px;
    color: #333;
    opacity: 0;
    transition: opacity 0.5s ease;
}

#result.visible {
    opacity: 1;
}

/* Responsive design */
@media (max-width: 768px) {
    h1 {
        font-size: 1.5rem;
    }

    h4 {
        font-size: 1rem;
    }

    input, select, button {
        max-width: 100%;
    }
}
